.card {
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
  z-index: 5;
  .details {
    padding: 1.5em 1em;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 35px rgba(0,0,0,0.1);
  }

  &:hover {
    background-color: $color;
    border-color: $color;
    color: white;
    h1, a {color: white;}
  }
}

.card h1 {
  color: #278da4; 
  margin: 10px 0 0;
  line-height: 1.25;
}

.scs-box {
  display: flex;
  flex-direction: column;

  .scs-card {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #278da4;
    padding-bottom: 100px;


    .card {
      width: 30%;
      box-shadow: 0 3px 35px rgba(0,0,0,0.1);
      
      h3 {
        margin: 50px 0;
        font-size: 2.5rem;
        color: #278da4;

        @media screen and (max-width: $bkpoint-lg) {
          font-size: 1.8rem;
        }
      }

      @media screen and (max-width: $bkpoint-lg) {
        margin: 0 auto;
      }

      @media screen and (max-width: $bkpoint-lg) {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 80%;
      }
    }
    p {
      width: 40%;
      margin: auto 0;
      font-weight: 600;
      // box-shadow: 0 3px 35px rgba(0,0,0,0.5);

      @media screen and (max-width: $bkpoint-lg) {
        margin: 0 auto;
        width: 100%;
      }
    }

    @media screen and (max-width: $bkpoint-lg) {
      flex-direction: column;
    }
  }

}
