.project-card {
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
  z-index: 5;
  .details {
    padding: 1.5em 1em;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 35px rgba(0,0,0,0.1);
    height: 100%;
  }

  &:hover {
    border-color: $color;
  }
}

.card-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 3px 35px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 50px;
  margin: 0 auto;

  .coding-ex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid $color;
    margin: 2.5rem 0;
  }

  .scs-heading {
    width: 200px;
    border-bottom: 2px solid $color;
    margin: 20px auto;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid $color;
    width: 800px;
    padding: 20px;
    margin: 20px auto 0;

    .scs-title {
      width: 200px;
      border: 1px solid $color;
      color: $color;
      padding: 5px;
      border-radius: 10px;
    }

    .scs-details {
      width: 500px;
      border-left: 2px solid $color;
      padding-left: 20px;
    }
  }
}


