.side-bar {
  @extend %sidebar;

  .initials {
    color: white;
    font-size: 2rem;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 50px;
  }
}

#s-icons {
  text-align: center;

  i {
    font-size: 2rem;
  }
}

.side-bar.active {
  left: 0;
}

.close-btn {
  display: block;
  position: absolute;
  color: #278da7;
  font-size: 1.5rem;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

.item {
  @extend %sidebar-item;

  a {
    color: $color;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    
    @media screen and (max-width: $bkpoint-sm) {
      // text-align: center;
      padding: 10px 30px;
    }
  }

  i {
    margin-right: 10px;
  }
}